div.panel2{
	box-shadow: 6px 6px 6px #000000;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 194, 0.30);	
}

.register{
	background-image: url('/assets/images/poker_image.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;		
}
	
body{
	padding:0px; 
	margin:0px;
}
	
.nameRecord{
	border: 4px solid #FFFFC2;
	border-radius: 7px;
}
	
.passRecord{
	border: 3px solid #FFFFC2;
	border-radius: 7px;
}
	
.nameRecord:focus{
	outline: none;
	border-color: #FFFFC2;
	box-shadow: 0 0 10px #FFFFC2;
}
	
.passRecord:focus{
	outline: none;
	border-color: #FFFFC2;
	box-shadow: 0 0 10px #FFFFC2;
}
	
.passConfirm{
	border: 3px solid #FFFFC2;
	border-radius: 7px;
}

.passConfirm:focus{
	outline: none;
	border-color: #FFFFC2;
	box-shadow: 0 0 10px #FFFFC2;
}
	
#registrationForm{
	color: #FFFFA3;
}
	
.registerButton{
	background-color: #FFCC66;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #FF9933;
	padding: 5px;
	color: black;
}

.registerButton:hover{
	opacity: 0.65;
}