<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>PokerWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="device-width, initial-sale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/joinGame.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>	</style>
    <title>Main Test Page</title>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="join">
    <div class="joinGamePanel">
        <h1 align="center" style="color: #FFFFA3">PokerWeb</h1>
        <h3 align="center" style="color: #FFFFA3">New Game</h3>
        <p></p>
        <div class="games">
            <form id="gameAction" align="center" method="post">
                Games: <br>
            </form>
        </div>
        <p align="center" style="color: #FFFFA3">
            <a align="center" style="color: #FFFFA3" href="/login">Log out</a>
        </p>
    </div>
</div>
</body>
</html>