<!DOCTYPE html>

<html lang="en">
<head>
	<title>PokerWeb</title>
	<meta charset="utf-8">
	<meta name="viewport" content="device-width, initial-sale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/registerPage.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>Register Test Page</title>
	<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="register">
		<div class="panel2">
			<h1 align="center" style="color: #FFFFA3">PokerWeb</h1>
			<h3 align="center" style="color: #FFFFA3">Register</h3>
			<form id="registrationForm" align="center" method="post" action="/register">
				Username or e-mail address:<br>
				<input class="nameRecord" type="text" name="firstname" align="center">
				<br>
				Enter password:<br>
				<input class="passRecord" type="text" name="password1" align="center">
				<br>
				Confirm password:<br>
				<input class="passConfirm" type="text" name="password2" align="center">
				<p></p>
				<button id= "register" class="registerButton" type="submit" text-align="center">Register</button>
			</form>
			<p></p>
		</div>
	</div>	
</body>
</html>